* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  }
.sidebar ul li {
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
.container {
  margin-left: 200px;
  padding: 0px 10px;
}
.tab-content {
  margin-left: 50px;
  margin-top: 50px;
}